<form action="http://localhost:8080/api/login" method="post">
<input type="text" name="email" placeholder="Email"></input>
<input type="password" name="password" placeholder="Password"></input>
<button value="submit">Log in</button>
</form>