<form action="http://localhost:8080/api/signup" method="post">
<input type="text" name="first_name" placeholder="First Name"></input>
<input type="text" name="last_name" placeholder="Last Name"></input>
<input type="text" name="email" placeholder="Email"></input>
<input type="number" name="age" placeholder="Age"></input>
<input type="password" name="password" placeholder="Password"></input>
<button value="submit">Registrarse</button>
</form>